<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{INTRO}}</p>
    <p>Agradecemos su participación en la {{EDITION}} Edición del CIMPS 20{{YEAR}}.</p>
    <p>Esperamos contar con su participación nuevamente para la {{NEXT_EDITION}} edición del CIMPS 20{{NEXT_YEAR}}, que será llevada a cabo del {{INICIO}} al {{TERMINO}} de Octubre del 20{{NEXT_YEAR}}, con sede en la ciudad de {{CIUDAD}}, en {{ESTADO}}, México.</p>
    <p>Si la pandemia del COVID permite realizar actividades presenciales, será anunciado a través de las páginas y redes sociales oficiales del CIMPS, por lo que le recomendamos estar atento a:</p>
    <p>cimps.cimat.mx y facebook/cimps</p>
    <p>¡No olvide visitarlas con frecuencia para estar enterado de todas las noticias!</p>
    
    <p>Su constancia fue adjuntada en este correo y a través del siguiente <a href="{{LINK}}">enlace</a>, por lo que al visualizarse este correo puede que aparezca repetido, también depende del programa utilizado para visualizar la constancia puede pedirle una contraseña, favor de utilizar la siguiente: <strong>{{PWD}}</strong></p>
    <p>Comité CIMPS</p>
    

</body>
</html>