<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p>{refer_as:} {name:}</p>
<p>Agradecemos su participación en la {edition:} Edición del CIMPS 20{year:}.</p>
<p>Esperamos contar con su participación para la {next_edition:}, edición del CIMPS 20{next_year:}, que será llevada a cabo del 20-22 de Octubre del 2021 con sede en la Ciudad de Torreón Coahuila. Si la sindemia del COVID permite realizar actividades presenciales será anunciada a través de las páginas y redes sociales del CIMPS.</p>
<p>No olvide visitar las paginas oficiales: cimps.cimat.mx y facebook/cimps</p>
<p>Adjuntamos su constancia de asistencia, para poder visualizar la constancia y/o realizar una impresión de esta debera utilizar la siguiente contraseña: <strong>{public_pwd_for_file:}</strong></p>
<p>Tambien puede descargar la constancia a través del siguiente <a href="{drive_link:}">enlace</a></p>
<p>Saludos</p>
<p>Comité CIMPS</p>
</body>
</html>